body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 10px
}

.tableStyle {

}

.table {
    margin-bottom: 2px;
}

.selectStyle {
    margin-right: 10px;
}



